$h1: calc(5rem + 1vw);
$h2: calc(1.8rem + 1vw);
$h3: calc(1.6rem + 1vw);
$h4: calc(1.4rem + 1vw);
$h5: calc(.2rem + 1vw);
$a: calc(0.5rem + 1vw);
$background-header: rgb(61, 61, 61);
$background-main: rgb(37, 37, 37);
$a-color: rgb(158, 157, 157);
$main-font-color: white;
