.video {
  min-height: 100vh;
  color: black;
  background: rgb(228, 226, 226);
  padding-top: 5rem;
  .video-content {
    max-width: 1160px;
    text-align: center;
    padding: 0 5rem;
    margin: 0 auto;
    overflow: hidden;
    h2 {
      font-size: $h2;
      font-weight: 500;
      letter-spacing: 0.2rem;
      margin-top: 3rem;
    }
    p {
      font-size: $a;
      margin: 4rem 0 2rem 0;
    }
    a {
      display: inline-block;
      margin: 1rem 0;
      padding: 1.5rem 1.2rem;
      font-size: 1.6rem;
      background: rgb(171, 162, 211);
      border: none;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    a:hover {
      // background: rgb(111, 100, 163);
      background: rgb(255, 255, 255);
      color: black;
      // color: white;
      border-radius: 0.5rem;
      box-shadow: 0px 3px 15px 0px rgb(194, 194, 194);
    }
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 562px){
  .video{
    min-height: 90vh;
    .video-content{
      h2{
        margin-top: 1rem;
      }
      a{
        margin: 2rem 0;
      }
    }
  }
}
