* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

body {
  line-height: 3rem;
  background: #252525;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

header {
  background: #3d3d3d;
  position: fixed;
  width: 100vw;
  height: 6rem;
  z-index: 100;
}

header nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  color: white;
}

header li:hover {
  background: #585858;
  -webkit-box-shadow: 2px 0px 5px #1f1e1e;
          box-shadow: 2px 0px 5px #1f1e1e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .hero-content {
  color: white;
  text-align: center;
  padding: calc(15rem + 1vw);
  z-index: 50;
}

.hero .hero-content h1 {
  font-size: calc(5rem + 1vw);
  font-weight: 500;
  margin-bottom: 4rem;
}

.hero .hero-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  margin-bottom: 3rem;
}

.hero .hero-content p {
  font-size: 1.8rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  line-height: 3rem;
  text-align: center;
}

.hero:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#0000005e)), url(../images/heroPic.jpg);
  background: linear-gradient(90deg, #000000, #0000005e), url(../images/heroPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.music {
  min-height: 100vh;
  color: white;
  padding-top: 4rem;
}

.music .music-content {
  text-align: center;
  padding: 0 15rem;
}

.music .music-content h1 {
  font-size: calc(3rem + 1vw);
  font-weight: 500;
  margin-top: 3rem;
}

.music .music-content h1 .fa-music {
  font-size: calc(3rem + 1vw);
  margin-right: 1rem;
}

.music .music-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
}

.music .music-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.music .music-content a {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.8rem 1rem;
  font-size: 1.6rem;
  background: #aba2d3;
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.music .music-content a:hover {
  background: #8871ee;
  color: white;
  -webkit-box-shadow: 0px 0px 5px #8871ee, 0px 0px 15px #8871ee, 0px 0px 25px #8871ee, 0px 0px 35px #8871ee, 0px 0px 45px #8871ee;
          box-shadow: 0px 0px 5px #8871ee, 0px 0px 15px #8871ee, 0px 0px 25px #8871ee, 0px 0px 35px #8871ee, 0px 0px 45px #8871ee;
  border-radius: 1rem;
}

.music .music-content h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: calc(.2rem + 1vw);
  font-weight: 400;
}

.music img {
  width: 100%;
  padding: 0 15rem 4rem 15rem;
}

.video {
  min-height: 100vh;
  color: black;
  background: #e4e2e2;
  padding-top: 5rem;
}

.video .video-content {
  text-align: center;
  padding: 0 15rem;
  overflow: hidden;
}

.video .video-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

.video .video-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.video .video-content a {
  display: inline-block;
  margin: 1rem 0;
  padding: 1.5rem 1.2rem;
  font-size: 1.6rem;
  background: #aba2d3;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.video .video-content a:hover {
  background: #6f64a3;
  color: white;
  border-radius: 1rem;
}

.video img {
  width: 100%;
  padding: 0 15rem 2rem 15rem;
}

.entertainment {
  min-height: 70vh;
  color: white;
  background-image: url(../images/entertainment_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entertainment .entertainment-content {
  text-align: center;
  padding: 0 15rem;
  overflow: hidden;
}

.entertainment .entertainment-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

.entertainment .entertainment-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.entertainment img {
  width: 100%;
  padding: 0 15rem 1rem 15rem;
}

.gift-card {
  min-height: 60vh;
  background: white;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  padding: 2rem 15rem;
  color: #3d3d3d;
}

.gift-card .img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: url(../images/cards.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.gift-card .description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  top: 10%;
}

.gift-card .description h3 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 500;
  padding: 4rem 0 3rem 0;
}

.gift-card .description p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

.gift-card .description hr {
  width: 100%;
  position: absolute;
}

.gift-card .description a {
  display: inline-block;
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
  margin-top: 1rem;
  text-decoration: none;
  color: #3d3d3d;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.gift-card .description #redeem:hover {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  color: #f3b823;
  text-shadow: 1px 1px 1px #303030;
}

.gift-card .description #redeem:hover .fa-chevron-right {
  color: #df2e86;
  font-size: 2.4rem;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.content {
  padding: 4rem 25rem;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  background: #252525;
}

.content ul h5 {
  color: white;
  font-size: calc(.2rem + 1vw);
  font-weight: 400;
  border-bottom: 1px solid #4e4e4e;
  padding: 1rem 0 .5rem 0;
}

.content ul li {
  list-style: none;
  line-height: 2.5rem;
}

.content ul li a {
  color: #bdbcbc;
  text-decoration: none;
  font-size: 1.4rem;
}

.content ul li:first-of-type {
  padding-top: 1.5rem;
}

.copyright {
  min-height: 8vh;
  background: #3d3d3d;
}

.copyright h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem 0;
}
/*# sourceMappingURL=style.css.map */