* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

body {
  line-height: 3rem;
  background: #252525;
  overflow-x: hidden;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

header {
  background: #3d3d3d;
  position: fixed;
  width: 100vw;
  height: 6rem;
  z-index: 2;
}

header nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  min-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  color: white;
}

header li:hover {
  background: #585858;
  -webkit-box-shadow: 2px 0px 5px #1f1e1e;
          box-shadow: 2px 0px 5px #1f1e1e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  nav ul {
    display: none !important;
  }
  nav .burger-menu {
    width: 40px;
    height: 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1rem 2rem;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  nav .burger-menu span {
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 2px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  nav .burger-menu .active.line1 {
    -webkit-animation: rotation 0.2s ease;
            animation: rotation 0.2s ease;
    -webkit-transform: rotateZ(45deg) translate(20%, 140%);
            transform: rotateZ(45deg) translate(20%, 140%);
  }
  nav .burger-menu .active.line2 {
    display: none;
  }
  nav .burger-menu .active.line3 {
    -webkit-animation: rotationReverse 0.2s ease;
            animation: rotationReverse 0.2s ease;
    -webkit-transform: rotateZ(-45deg) translate(20%, -140%);
            transform: rotateZ(-45deg) translate(20%, -140%);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(405deg);
            transform: rotateZ(405deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(405deg);
            transform: rotateZ(405deg);
  }
}

@-webkit-keyframes rotationReverse {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotationReverse {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .hero-content {
  max-width: 1160px;
  color: white;
  text-align: center;
  padding: 0 5rem;
  margin: 0 auto;
  z-index: 50;
}

.hero .hero-content h1 {
  font-size: calc(5rem + 1vw);
  font-weight: 500;
  margin-bottom: 4rem;
}

.hero .hero-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  margin-bottom: 3rem;
}

.hero .hero-content p {
  font-size: 1.8rem;
  font-weight: 300;
  word-spacing: 0.3rem;
  line-height: 3rem;
  text-align: center;
}

.hero:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#0000005e)), url(../images/heroPic.jpg);
  background: linear-gradient(90deg, #000000, #0000005e), url(../images/heroPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 562px) {
  .hero {
    min-height: 60vh;
  }
  .hero .hero-content {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

.music {
  min-height: 100vh;
  color: white;
  padding-top: 4rem;
}

.music .music-content {
  max-width: 1160px;
  text-align: center;
  padding: 0 5rem;
  margin: 0 auto;
}

.music .music-content h1 {
  font-size: calc(3rem + 1vw);
  font-weight: 500;
  margin-top: 3rem;
}

.music .music-content h1 .fa-music {
  font-size: calc(3rem + 1vw);
  margin-right: 1rem;
}

.music .music-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
}

.music .music-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.music .music-content a {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.8rem 1rem;
  font-size: 1.6rem;
  background: #aba2d3;
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.music .music-content a:hover {
  background: #8871ee;
  color: white;
  -webkit-box-shadow: 0px 0px 5px #8871ee, 0px 0px 15px #8871ee, 0px 0px 25px #8871ee, 0px 0px 35px #8871ee, 0px 0px 45px #8871ee;
          box-shadow: 0px 0px 5px #8871ee, 0px 0px 15px #8871ee, 0px 0px 25px #8871ee, 0px 0px 35px #8871ee, 0px 0px 45px #8871ee;
  border-radius: 1rem;
}

.music .music-content h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: calc(1rem + 1vw);
  font-weight: 400;
}

.music .music-content img {
  width: 100%;
}

@media screen and (max-width: 562px) {
  .music {
    min-height: 100vh;
  }
  .music h2 {
    margin-bottom: 1.5rem;
  }
  .music a:hover {
    display: none !important;
    cursor: pointer;
  }
}

.video {
  min-height: 100vh;
  color: black;
  background: #e4e2e2;
  padding-top: 5rem;
}

.video .video-content {
  max-width: 1160px;
  text-align: center;
  padding: 0 5rem;
  margin: 0 auto;
  overflow: hidden;
}

.video .video-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

.video .video-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.video .video-content a {
  display: inline-block;
  margin: 1rem 0;
  padding: 1.5rem 1.2rem;
  font-size: 1.6rem;
  background: #aba2d3;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.video .video-content a:hover {
  background: white;
  color: black;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 15px 0px #c2c2c2;
          box-shadow: 0px 3px 15px 0px #c2c2c2;
}

.video .video-content img {
  width: 100%;
}

@media screen and (max-width: 562px) {
  .video {
    min-height: 90vh;
  }
  .video .video-content h2 {
    margin-top: 1rem;
  }
  .video .video-content a {
    margin: 2rem 0;
  }
}

.entertainment {
  min-height: 70vh;
  color: white;
  background-image: url(../images/entertainment_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entertainment .entertainment-content {
  max-width: 1160px;
  text-align: center;
  padding: 0 5rem;
  margin: 0 auto;
  overflow: hidden;
}

.entertainment .entertainment-content h2 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

.entertainment .entertainment-content p {
  font-size: calc(0.5rem + 1vw);
  margin: 4rem 0 2rem 0;
}

.entertainment img {
  width: 100%;
  padding: 0 15rem 1rem 15rem;
}

@media screen and (max-width: 780px) {
  p {
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 562px) {
  .entertainment {
    min-height: 40vh;
    padding-top: 0rem;
  }
  .entertainment .entertainment-content h2 {
    font-size: 2.5rem;
  }
  p {
    display: none;
  }
}

.gift-card {
  background: #e4e2e2;
}

.gift-card .container {
  min-height: 60vh;
  max-width: 1180px;
  padding: 2rem 5rem;
  margin: 0 auto;
  color: #3d3d3d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.gift-card .container .img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: url(../images/cards.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.gift-card .container .description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  top: calc(10% * 1vh);
}

.gift-card .container .description h3 {
  font-size: calc(1.6rem + 1vw);
  font-weight: 500;
  padding: 4rem 0 3rem 0;
}

.gift-card .container .description p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

.gift-card .container .description hr {
  width: 100%;
  position: absolute;
}

.gift-card .container .description a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1rem;
  text-decoration: none;
  color: #3d3d3d;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.gift-card .container .description #redeem:hover {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  color: #f3b823;
  text-shadow: 1px 1px 1px #303030;
}

.gift-card .container .description #redeem:hover .fa-chevron-right {
  color: #df2e86;
  font-size: 2.4rem;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media screen and (max-width: 780px) {
  .gift-card .container {
    padding: 1rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45rem;
            flex: 1 1 45rem;
  }
  .description {
    text-align: center;
  }
  .description #redeem:hover {
    -webkit-transform: none !important;
            transform: none !important;
    color: none !important;
    text-shadow: none !important;
  }
  .description #redeem:hover .fa-chevron-right {
    color: #df2e86;
    font-size: 1.8rem !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media screen and (max-width: 680px) {
  .img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 35rem;
            flex: 1 1 35rem;
  }
}

@media screen and (max-width: 580px) {
  .img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
}

.content {
  max-width: 1160px;
  padding: 4rem 5rem;
  margin: 0 auto;
  -webkit-column-gap: calc(4rem + 1vw);
          column-gap: calc(4rem + 1vw);
  background: #252525;
}

.content ul h5 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  border-bottom: 1px solid #4e4e4e;
  padding: 1rem 0 0.5rem 0;
}

.content ul li {
  list-style: none;
  line-height: 2.5rem;
}

.content ul li a {
  color: #bdbcbc;
  text-decoration: none;
  font-size: 1.4rem;
}

.content ul li:first-of-type {
  padding-top: 1.5rem;
}

.copyright {
  min-height: 8vh;
  background: #3d3d3d;
}

.copyright h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem 0;
}

@media screen and (max-width: 873px) {
  .content ul h5 {
    font-size: 1.5rem;
  }
  .content ul li a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 820px) {
  .content ul:nth-child(3) {
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
}

@media screen and (max-width: 781px) {
  .content ul h5 {
    font-size: 1.4rem;
  }
  .content ul:nth-child(3) {
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
}

@media screen and (max-width: 682px) {
  .content {
    display: none;
  }
  .copyright {
    min-height: 5vh;
  }
}
/*# sourceMappingURL=style.css.map */